<div class="row">
    <div class="explaboral">
        <img src="../../../assets/iconoexp.png" id="iconoexp">
        <h1>Experiencia laboral</h1>
    </div>
    <div class="con1">
        <ul>
            <li class="a">
                <h1>Trabajo 1</h1>
            </li>
            <li class="a">
                <p class="info">blablablablablablabblablbalbalblablbalblba</p>
            </li>
            <li>
                <h3 class="b">year</h3>
            </li>
        </ul>
        <ul>
            <li class="a">
                <h1>Trabajo 2</h1>
            </li>
            <li class="a">
                <p class="info">blablablablablablabblablbalbalblablbalblba</p>
            </li>
            <li>
                <h3 class="b">year</h3>
            </li>
        </ul>
        <ul>
            <li class="a">
                <h1>Trabajo 3</h1>
            </li>
            <li class="a">
                <p class="info">blablablablablablabblablbalbalblablbalblba</p>
            </li>
            <li>
                <h3 class="b">year</h3>
            </li>
        </ul>
    </div>
</div>
