<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="perfil">
        <img src="../../../assets/perfil.jpg" class="img-fluid" id="ftperfil">
        <p class="nombre">{{persona.nombre}}perez</p>
        <p class="apellido">Manzanelli Lopes </p>

        </div>
    </div>
    
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>blablablablablablabblablbalbalblablbalblba</p>
        </span>

    </div>
    
</div>
